body{
    font-family: Arial, sans-serif;
    background-color:#d9f99d;
    text-align:center;
    margin:0;
    padding:0;
}

header{
    background:#22c55e;
    color:white;
    padding:20px;
}

.container{
    margin:30px auto;
    width:80%;
    max-width:600px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

input, select{
    width:90%;
    padding:10px;
    margin:10px;
}

button{
    background:#22c55e;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:10px;
    cursor:pointer;
}
button:hover{
    background:#16a34a;
}
